@charset 'utf-8';

/* reset css */
* {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
}
img {
  border: 0;
}

.wrap {
  width: 800px;
  border: 10px solid #000;
  margin: 50px auto;
}
.left {
  width: 400px;
  height: 400px;
  background-color: pink;
  float: left;
}
.right {
  width: 400px;
  height: 400px;
  background-color: lightblue;
  float: left;
}
/* 
float: 블록요소를 강제로 띄워서 좌우로 배치
자식요소에 float을 주게되면 감싸고 있던 부모요소가 
자식요소의 높이를 인식하기 못해서 감싸지 못 하고 깨지는 문제가 발생
 */
/* 
 이런 문제를 해결하기 위해서 아래와 같이 float을 해제
  clear: both -> 위에 있는 블록들 중 float 적용된 애들 해제
 */
.wrap:after {
  content: "";
  display: block;
  clear: both;
}

/* 
step1: 먼저 좌우 배치할 모든 블록요소 태그에 float:left 설정
--> float된 요소의 높이값을 브라우저가 인지하지 못함
step2: float된 요소의 직계 부모태그 블록요소에 
--> 부모태그명:after {content: ""; display:block; clear:both;}
*/
